<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50574263361-hvd18cuihcbogvpr6v9ucrpbpuqpv3s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50574263361-hvd18cuihcbogvpr6v9ucrpbpuqpv3s1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvRdpxL-DCuEKX3YDHrnz6DeBbD_m-4n8</string>
	<key>GCM_SENDER_ID</key>
	<string>50574263361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kate.onMap-login</string>
	<key>PROJECT_ID</key>
	<string>onmaplogin</string>
	<key>STORAGE_BUCKET</key>
	<string>onmaplogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50574263361:ios:b95d481460254ff83832c0</string>
	<key>DATABASE_URL</key>
	<string>https://onmaplogin.firebaseio.com</string>
</dict>
</plist>