<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388524501025-btndmnv7ml1u4f3skhvmog28s2dq9po1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388524501025-btndmnv7ml1u4f3skhvmog28s2dq9po1</string>
	<key>API_KEY</key>
	<string>AIzaSyA8gCROZknlAQCPA91M_b12v2T_DvFBdQU</string>
	<key>GCM_SENDER_ID</key>
	<string>388524501025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onMapTeam.onMapRelease</string>
	<key>PROJECT_ID</key>
	<string>onmap-6988a</string>
	<key>STORAGE_BUCKET</key>
	<string>onmap-6988a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388524501025:ios:ddfdb4f21cb4415646db60</string>
	<key>DATABASE_URL</key>
	<string>https://onmap-6988a.firebaseio.com</string>
</dict>
</plist>