<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468348866783-ebicn5alj6hk0q8i4bguv0dgg0su9nlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468348866783-ebicn5alj6hk0q8i4bguv0dgg0su9nlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAPM0ITj7W_Ei6lk3P2R2zJzuo-i1yC-Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>468348866783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onMapTeam.onMapRelease</string>
	<key>PROJECT_ID</key>
	<string>onmap-27985</string>
	<key>STORAGE_BUCKET</key>
	<string>onmap-27985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468348866783:ios:8ae26e91059c916c84196a</string>
	<key>DATABASE_URL</key>
	<string>https://onmap-27985.firebaseio.com</string>
</dict>
</plist>