<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50574263361-0p2rmvuqiepl4s0v79dk288fhp7nd8ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50574263361-0p2rmvuqiepl4s0v79dk288fhp7nd8ae</string>
	<key>API_KEY</key>
	<string>AIzaSyCvRdpxL-DCuEKX3YDHrnz6DeBbD_m-4n8</string>
	<key>GCM_SENDER_ID</key>
	<string>50574263361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onMapTeam.OnMapRelease</string>
	<key>PROJECT_ID</key>
	<string>onmaplogin</string>
	<key>STORAGE_BUCKET</key>
	<string>onmaplogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:50574263361:ios:1e9119aadb9d919a3832c0</string>
	<key>DATABASE_URL</key>
	<string>https://onmaplogin.firebaseio.com</string>
</dict>
</plist>
